{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
<h3>About page</h3>
<p>Artificial intelligent age start growing.Misscommucation create more confusion.
    welcome to new era.Artificial intelligent age start growing.Misscommucation create more
    Artificial intelligent age start growing.Misscommucation create more
Artificial intelligent age start growing.Misscommucation create more confusion.
    welcome to new era</p>

    <p>Artificial intelligent age start growing.Misscommucation create more confusion.
    welcome to new era.Artificial intelligent age start growing.Misscommucation create more
    Artificial intelligent age start growing.Misscommucation create more
Artificial intelligent age start growing.Misscommucation create more confusion.
    welcome to new era</p>
</div>
{% endblock content %}