<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav>
    <a href="#">Mini Blog</a>
  <div>
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="{% url 'about' %}">About</a>
          </li>
           <li>
              <a href="{% url 'contact' %}">Contact</a>
          </li>
          {% if request.user.is_authenticated %}
           <li>
              <a href="{% url 'dashboard' %}">Dashbard</a>
          </li>
           <li>
              <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
           <li>
              <a href="{% url 'signup' %}">Signup</a>
          </li>
           <li>
              <a href="{% url 'login' %}">login</a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>
</body>
</html>