{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div>
<h3>Become an  Author</h3>
    {% if messages %}
    {% for message in messages %}
      <p{% if message.tags %} {% endif %}>{{message}}</p>
   {% endfor %}
    {% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
    <div>
        {{fm.label_tag}} {{fm}} <small>{{fm.error|striptags}}</small>
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
    {% if form.non_field_error %}
    {% for error in form.non_field_error %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
</form>
</div>
{% endblock content %}